

$theme-colors: (
    "dark": #1f1e1d,
);

$primary: #b8521f;

$secondary: #0089b3;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';


* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.bg-dark-transparent {
    background: rgba(theme-color(dark), .6);
}
// #gallery-content {
//     background: linear-gradient(180deg, rgba(theme-color(dark), .3) 0%, rgba(black, .8) 80%, white 80.1%);
// }

.router-link-exact-active {
    color: $primary !important;
}

footer {
    background-color: rgb(228, 233, 240);
    color: rgb(113, 117, 121);
    text-align: center;
}

@include media-breakpoint-down(md) { 
    #contact-display {
        height: auto !important;
    }    
}

