@import 'css/fonts/fonts.css';
@import 'node_modules/aos/src/sass/aos.scss';

@import './_variables.scss';

@import 'node_modules/bootstrap/scss/bootstrap';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}


@media only screen and (min-width : 1200px) {
  .container { max-width: 1350px; }
}